# Assignment: Data Wrangling
## `! git clone https://github.com/DS3001/wrangling`
## Do Q2, and one of Q1 or Q3.

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

1. Read the abstract. What is this paper about?
  
  In the paper, Wickham plans to address data tidying as an important component of data cleaning. In the abstract he discusses the structured nature of tidy datasets, which he states are easy to manipulate, model, and visualise: a column dedicated to each variable, a row dedicated to each observation, and each type of observatoinal unit having its own table. Through this paper, he plans to discuss the advantages of having a consisten data structure and mathcing tools for data analysis.

2. Read the introduction. What is the "tidy data standard" intended to accomplish?
  
  The "tidy data standard" facilitates exploration and analysis of data, and simplifies development of data analysis tools. In other words, the "tidy data standard" is a method of standardizing data cleaning. In this introduction, Wickham suggests that there is little research to be found on how to clean data well, despite 80% of the data analysis process being spent on cleaning and preparing the data.

3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, it’s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."
  
  "Like families, tidy datasets are all alike but every messy dataset is messy in its own way."
    This quote is compared to another by Leo Tolstoy in the introduction to section 2, which states that "Happy families are all alike; every unhappy family is unhappy in its own way." Essentially, tidy data sets are standardized, linking the structure of the dataset with its semantics. This means that all tidy data are relatively the same in terms of structure, each with their columns, rows, and observational units. Messy data, however, are all messy in their own way, presenting a  dysfunctionality that consists of its own unique problems to be cleaned.

  "For a given dataset, it’s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."
    This sentence recognizes the intuitive natue of figuring out which components of the dataset are observations versus those that are variables, given how widely understood it is that each column represents a variable and each row represents an observations. What is difficult, however, is understanding what those variables and observations mean, especially for people who not familiar with the dataset. This is one of the reasons why we often create codebooks in correlation with the dataset, so that others interpreting or analyzing the data are able to do so effectively.
  

4. Read Section 2.2. How does Wickham define values, variables, and observations?
  
  Wickham defines values as either numbers (if quantitative) or strings (if qualitiative) which make up a dataset. He states that values can be organized in two ways: variables or observations. Variables contain all values that measure the same underlying attribute or property, whereas observations contain  all values measured on the same unit.

5. How is "Tidy Data" defined in section 2.3?
  
  A data is tidy if each variable forms a column, each observation forms a row, and each type of observational unit forms a table. Otherwise, the data is not considered tidy, as in the data is in any other arrangement that is not as described.

6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?
  
  The five most common problems with messy data include: column headers being values rather than variable names; mutliple variables are stored in one column; variables are stored in both rows and columns; multiple types of observational units are stored in the same table; and a single observational unit is stored in multiple tables. The data in Table 4 is messy because the columns are actually values under the variable "income." In order to fix this, a new column titled "income" must be created and place alongside the column "religion." A third column must also be created for the third variable, "frequency," which does not have on in the presented table. "Melting" a dataset means to convert columns into rows.

7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?
  
  Table 11 consists of each possible day of the month as its own column, but these days of the month are actually values and not variables. Additionally, the "element" variable has variable names (tmax and tmin) rather than values. In contrast, Table 12 is tidy because it melts the days of the month into a single variable (date) and Table 12b gives tmax and tmin its own columns.

8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?
  
  Wickham wants to establish a broader philosophy of data cleaning, rather than just about facilitating certain tools. He wants the tidy concept to be more than just training people how to use certain tools (like ggplot2) effectively, but rather create a more robust ecosystem of ideas and tools for data science as a whole.

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.
3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [4]:
# Question 1

import pandas as pd
import numpy as np
import seaborn as sns

df = pd.read_csv('/Users/shaveen/Downloads/airbnb_hw.csv', low_memory=False)
print( df.shape, '\n')
df.head()

(30478, 13)

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

In [6]:
price = df['Price']
price.unique()

# 'Price' was imported as a string because of a comma separator that occurs
# when in the 1000's (ex. 1,900). We need to eliminate this comma separator.

array(['145', '37', '28', '199', '549', '149', '250', '90', '270', '290',
       '170', '59', '49', '68', '285', '75', '100', '150', '700', '125',
       '175', '40', '89', '95', '99', '499', '120', '79', '110', '180',
       '143', '230', '350', '135', '85', '60', '70', '55', '44', '200',
       '165', '115', '74', '84', '129', '50', '185', '80', '190', '140',
       '45', '65', '225', '600', '109', '1,990', '73', '240', '72', '105',
       '155', '160', '42', '132', '117', '295', '280', '159', '107', '69',
       '239', '220', '399', '130', '375', '585', '275', '139', '260',
       '35', '133', '300', '289', '179', '98', '195', '29', '27', '39',
       '249', '192', '142', '169', '1,000', '131', '138', '113', '122',
       '329', '101', '475', '238', '272', '308', '126', '235', '315',
       '248', '128', '56', '207', '450', '215', '210', '385', '445',
       '136', '247', '118', '77', '76', '92', '198', '205', '299', '222',
       '245', '104', '153', '349', '114', '320', '292', '226', '420',
       '500', '325', '307', '78', '265', '108', '123', '189', '32', '58',
       '86', '219', '800', '335', '63', '229', '425', '67', '87', '1,200',
       '158', '650', '234', '310', '695', '400', '166', '119', '62',
       '168', '340', '479', '43', '395', '144', '52', '47', '529', '187',
       '209', '233', '82', '269', '163', '172', '305', '156', '550',
       '435', '137', '124', '48', '279', '330', '5,000', '134', '378',
       '97', '277', '64', '193', '147', '186', '264', '30', '3,000',
       '112', '94', '379', '57', '415', '236', '410', '214', '88', '66',
       '71', '171', '157', '545', '1,500', '83', '96', '1,800', '81',
       '188', '380', '255', '505', '54', '33', '174', '93', '740', '640',
       '1,300', '440', '599', '357', '1,239', '495', '127', '5,999',
       '178', '348', '152', '242', '183', '253', '750', '259', '365',
       '273', '197', '397', '103', '389', '355', '559', '38', '203',
       '999', '141', '162', '333', '698', '46', '360', '895', '10', '41',
       '206', '281', '449', '388', '212', '102', '201', '2,750', '4,750',
       '432', '675', '167', '390', '298', '339', '194', '302', '211',
       '595', '191', '53', '361', '480', '8,000', '4,500', '459', '997',
       '345', '216', '218', '111', '735', '276', '91', '490', '850',
       '398', '36', '775', '267', '625', '336', '2,500', '176', '725',
       '3,750', '469', '106', '460', '287', '575', '227', '263', '25',
       '228', '208', '177', '880', '148', '116', '685', '470', '217',
       '164', '61', '645', '699', '405', '252', '319', '268', '419',
       '343', '525', '311', '840', '154', '294', '950', '409', '184',
       '257', '204', '241', '2,000', '412', '121', '288', '196', '900',
       '647', '524', '1,750', '309', '510', '1,495', '1,700', '799',
       '383', '372', '492', '327', '1,999', '656', '224', '173', '875',
       '1,170', '795', '690', '146', '465', '1,100', '151', '274', '429',
       '825', '282', '256', '1,111', '620', '271', '161', '51', '855',
       '579', '1,174', '430', '20', '899', '649', '485', '181', '455',
       '4,000', '243', '342', '590', '560', '374', '437', '232', '359',
       '985', '31', '244', '254', '723', '237', '428', '370', '34',
       '1,400', '580', '2,520', '221', '749', '1,600', '2,695', '306',
       '202', '680', '570', '520', '223', '2,295', '213', '1,065', '346',
       '24', '286', '296', '266', '26', '995', '1,368', '393', '182',
       '635', '258', '780', '589', '347', '1,250', '1,350', '446',
       '3,200', '1,050', '1,650', '1,550', '975', '323', '6,500', '2,499',
       '1,850', '2,250', '715', '461', '540', '356', '439', '384', '569',
       '1,900', '22', '785', '626', '830', '318', '444', '321', '401',
       '1,499', '888', '369', '770', '386', '366', '344', '630', '313',
       '597', '262', '509', '10,000', '278', '312', '789', '1,195', '422',
       '21', '765', '3,500', '945', '326', '3,100', '2,486', '3,390',
       '1,356', '2,599', '472', '454', '328', '396', '291'], dtype=object)

In [7]:
price = df['Price']
price = price.str.replace(',','') # Replace commas with nothing
print( price.unique() , '\n')
price = pd.to_numeric(price,errors='coerce') # Typecast price to float/numeric
print( price.unique() , '\n')
print( 'Total missing: ', sum( price.isnull() ) ) # This converts all the values

['145' '37' '28' '199' '549' '149' '250' '90' '270' '290' '170' '59' '49'
 '68' '285' '75' '100' '150' '700' '125' '175' '40' '89' '95' '99' '499'
 '120' '79' '110' '180' '143' '230' '350' '135' '85' '60' '70' '55' '44'
 '200' '165' '115' '74' '84' '129' '50' '185' '80' '190' '140' '45' '65'
 '225' '600' '109' '1990' '73' '240' '72' '105' '155' '160' '42' '132'
 '117' '295' '280' '159' '107' '69' '239' '220' '399' '130' '375' '585'
 '275' '139' '260' '35' '133' '300' '289' '179' '98' '195' '29' '27' '39'
 '249' '192' '142' '169' '1000' '131' '138' '113' '122' '329' '101' '475'
 '238' '272' '308' '126' '235' '315' '248' '128' '56' '207' '450' '215'
 '210' '385' '445' '136' '247' '118' '77' '76' '92' '198' '205' '299'
 '222' '245' '104' '153' '349' '114' '320' '292' '226' '420' '500' '325'
 '307' '78' '265' '108' '123' '189' '32' '58' '86' '219' '800' '335' '63'
 '229' '425' '67' '87' '1200' '158' '650' '234' '310' '695' '400' '166'
 '119' '62' '168' '340' '479' '43' '395' '144' '52' '47' '529' '187' '209'
 '233' '82' '269' '163' '172' '305' '156' '550' '435' '137' '124' '48'
 '279' '330' '5000' '134' '378' '97' '277' '64' '193' '147' '186' '264'
 '30' '3000' '112' '94' '379' '57' '415' '236' '410' '214' '88' '66' '71'
 '171' '157' '545' '1500' '83' '96' '1800' '81' '188' '380' '255' '505'
 '54' '33' '174' '93' '740' '640' '1300' '440' '599' '357' '1239' '495'
 '127' '5999' '178' '348' '152' '242' '183' '253' '750' '259' '365' '273'
 '197' '397' '103' '389' '355' '559' '38' '203' '999' '141' '162' '333'
 '698' '46' '360' '895' '10' '41' '206' '281' '449' '388' '212' '102'
 '201' '2750' '4750' '432' '675' '167' '390' '298' '339' '194' '302' '211'
 '595' '191' '53' '361' '480' '8000' '4500' '459' '997' '345' '216' '218'
 '111' '735' '276' '91' '490' '850' '398' '36' '775' '267' '625' '336'
 '2500' '176' '725' '3750' '469' '106' '460' '287' '575' '227' '263' '25'
 '228' '208' '177' '880' '148' '116' '685' '470' '217' '164' '61' '645'
 '699' '405' '252' '319' '268' '419' '343' '525' '311' '840' '154' '294'
 '950' '409' '184' '257' '204' '241' '2000' '412' '121' '288' '196' '900'
 '647' '524' '1750' '309' '510' '1495' '1700' '799' '383' '372' '492'
 '327' '1999' '656' '224' '173' '875' '1170' '795' '690' '146' '465'
 '1100' '151' '274' '429' '825' '282' '256' '1111' '620' '271' '161' '51'
 '855' '579' '1174' '430' '20' '899' '649' '485' '181' '455' '4000' '243'
 '342' '590' '560' '374' '437' '232' '359' '985' '31' '244' '254' '723'
 '237' '428' '370' '34' '1400' '580' '2520' '221' '749' '1600' '2695'
 '306' '202' '680' '570' '520' '223' '2295' '213' '1065' '346' '24' '286'
 '296' '266' '26' '995' '1368' '393' '182' '635' '258' '780' '589' '347'
 '1250' '1350' '446' '3200' '1050' '1650' '1550' '975' '323' '6500' '2499'
 '1850' '2250' '715' '461' '540' '356' '439' '384' '569' '1900' '22' '785'
 '626' '830' '318' '444' '321' '401' '1499' '888' '369' '770' '386' '366'
 '344' '630' '313' '597' '262' '509' '10000' '278' '312' '789' '1195'
 '422' '21' '765' '3500' '945' '326' '3100' '2486' '3390' '1356' '2599'
 '472' '454' '328' '396' '291']

[  145    37    28   199   549   149   250    90   270   290   170    59
    49    68   285    75   100   150   700   125   175    40    89    95
    99   499   120    79   110   180   143   230   350   135    85    60
    70    55    44   200   165   115    74    84   129    50   185    80
   190   140    45    65   225   600   109  1990    73   240    72   105
   155   160    42   132   117   295   280   159   107    69   239   220
   399   130   375   585   275   139   260    35   133   300   289   179
    98   195    29    27    39   249   192   142   169  1000   131   138
   113   122   329   101   475   238   272   308   126   235   315   248
   128    56   207   450   215   210   385   445   136   247   118    77
    76    92   198   205   299   222   245   104   153   349   114   320
   292   226   420   500   325   307    78   265   108   123   189    32
    58    86   219   800   335    63   229   425    67    87  1200   158
   650   234   310   695   400   166   119    62   168   340   479    43
   395   144    52    47   529   187   209   233    82   269   163   172
   305   156   550   435   137   124    48   279   330  5000   134   378
    97   277    64   193   147   186   264    30  3000   112    94   379
    57   415   236   410   214    88    66    71   171   157   545  1500
    83    96  1800    81   188   380   255   505    54    33   174    93
   740   640  1300   440   599   357  1239   495   127  5999   178   348
   152   242   183   253   750   259   365   273   197   397   103   389
   355   559    38   203   999   141   162   333   698    46   360   895
    10    41   206   281   449   388   212   102   201  2750  4750   432
   675   167   390   298   339   194   302   211   595   191    53   361
   480  8000  4500   459   997   345   216   218   111   735   276    91
   490   850   398    36   775   267   625   336  2500   176   725  3750
   469   106   460   287   575   227   263    25   228   208   177   880
   148   116   685   470   217   164    61   645   699   405   252   319
   268   419   343   525   311   840   154   294   950   409   184   257
   204   241  2000   412   121   288   196   900   647   524  1750   309
   510  1495  1700   799   383   372   492   327  1999   656   224   173
   875  1170   795   690   146   465  1100   151   274   429   825   282
   256  1111   620   271   161    51   855   579  1174   430    20   899
   649   485   181   455  4000   243   342   590   560   374   437   232
   359   985    31   244   254   723   237   428   370    34  1400   580
  2520   221   749  1600  2695   306   202   680   570   520   223  2295
   213  1065   346    24   286   296   266    26   995  1368   393   182
   635   258   780   589   347  1250  1350   446  3200  1050  1650  1550
   975   323  6500  2499  1850  2250   715   461   540   356   439   384
   569  1900    22   785   626   830   318   444   321   401  1499   888
   369   770   386   366   344   630   313   597   262   509 10000   278
   312   789  1195   422    21   765  3500   945   326  3100  2486  3390
  1356  2599   472   454   328   396   291]

Total missing:  0

In [8]:
# Question 2

df = pd.read_csv('/Users/shaveen/Downloads/sharks.csv', low_memory=False)
df['Type'].value_counts()

Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
Watercraft              142
Boat                    109
Boating                  92
Questionable             10
Unconfirmed               1
Unverified                1
Under investigation       1
Boatomg                   1
Name: Type, dtype: int64

In [9]:
type = df['Type'] # Create a temporary vector of values for the Type variable to play with

type = type.replace(['Sea Disaster', 'Boat','Boating','Boatomg'],'Watercraft') # All watercraft/boating values
type.value_counts()

type = type.replace(['Invalid', 'Questionable','Unconfirmed','Unverified','Under investigation'],np.nan) # All not-clean values
type.value_counts()

df['Type'] = type # Replaces the 'Type' variable with the cleaned version
del type # Gets rid of the temporary vector

df['Type'].value_counts()

Unprovoked    4716
Provoked       593
Watercraft     583
Name: Type, dtype: int64

In [10]:
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].replace(['UNKNOWN', 'F','M','2017'],np.nan) # All not-cleaned values
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].replace('y','Y') # All not-cleaned values
pd.crosstab(df['Type'],df['Fatal (Y/N)'],normalize='index')

Fatal (Y/N)         N         Y
Type
Provoked     0.967521  0.032479
Unprovoked   0.743871  0.256129
Watercraft   0.684303  0.315697

In [18]:
# Question 3

df = pd.read_parquet('/Users/shaveen/Downloads/justice_data.parquet')

In [19]:
release = df['WhetherDefendantWasReleasedPretrial']
print(release.unique(),'\n')
print(release.value_counts(),'\n')
release = release.replace(9,np.nan)
print(release.value_counts(),'\n')
sum(release.isnull()) # 31 missing values
df['WhetherDefendantWasReleasedPretrial'] = release 
del release

[9 0 1]

1    19154
0     3801
9       31
Name: WhetherDefendantWasReleasedPretrial, dtype: int64

1.0    19154
0.0     3801
Name: WhetherDefendantWasReleasedPretrial, dtype: int64

In [20]:
# Question 4

length = df['ImposedSentenceAllChargeInContactEvent']
type = df['SentenceTypeAllChargesAtConvictionInContactEvent']

# print( length.unique()  , '\n') # Some values are ' ', which indicates that those values are missing
length = pd.to_numeric(length,errors='coerce') # changing coerce to a numeric value
length_NA = length.isnull() # Creating a missing dummy, where True indicates missing values in the length column
print( np.sum(length_NA),'\n') # This prints out the number of missing values

# This creates a cross-tabulation of the missing length values against the type column, and shows where the charges were dismissed
print( pd.crosstab(length_NA, type), '\n') 

length = length.mask( type == 4, 0) # Replace length with 0 when type ==4, charges were dismissed
length = length.mask( type == 9, np.nan) # Replace length with np.nan when type == 9, missing

length_NA = length.isnull() # Creating a new missing dummy
print( pd.crosstab(length_NA, type), '\n')
print( np.sum(length_NA),'\n') # This prints out the number of missing values

df['ImposedSentenceAllChargeInContactEvent'] = length # Replacing data with cleaned version
del length, type # Delete temporary length/type variables

9053

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914     0    0
True                                                 0     0    0  8779  274

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914  8779    0
True                                                 0     0    0     0  274

274

**Q3.** Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. This question looks at data gathering efforts on this variable by the U.S. Federal government.

1. How did the most recent US Census gather data on sex, gender, sexuality, and race?

The US Census gathered through a survey distributed to United States residents, collecting sex as a binary and race as a "check all that apply" (with write-in boxes for more nuanced responses on race). More specifically, questions pertaining to sex asked "What sex were you assigned at birth, on your original birth certificate?" and "Do you currently describe yourself as male, female or transgender?" "None of these" was also an option. An alternative version of this question includes "Non-binary." For Sexual Orientation and Gender Identity, a question asks "Which of the following best represents how you think of yourself?" and included options such as "Gay or lesbian," "Straight, that is not gay or lesbian," "Bisexual," "Something else," or "I don't know."

2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?

The U.S. government collects this data for several reasons, one of which being for public policy. Knowing the demographics of one's country is important for resource allocation, such as funding for education, healthcare, and infrastructure. Knowing the demographic of particular areas throughout the country can help inform how need is measured and government resources are distributed throughout the country. There's also the importance of understanding the kinds of people that make up the United States, so that we can make efforts to support and build an inclusive environment, especially for minorities who are subject to systemic challenges that are catered to more privileged groups in society. Demographics can also inform elected officials of the very real concerns their constituents have, whether it be enough mental health resources for LGBTQ+ youth, or racial equity programs that uplift people of color. Data quality is important to ensuring that policies are well-informed and effective; data that is poor in quality leads to misinformed policy decisions that could ultimately cause more harm than good.

3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?

I think one of the most pressing criticisms of the U.S. Census is its decision to lump Middle Easterners, Arabs, and North Africans with the category "White." This essentially erases an entire group of people, neglecting their unique experiences and challenges as individuals living in the United States, especially in a day and age where this specific group of people are experiencing discrimination based on negative stereotypes that have been imposed on them. I think it's important to include categories that go beyond "White, Black, Asian, and Other," since these categories can be rather limiting to those who don't identify in any of these particular groups. The same can be applied for data on SOGI. Because the United States is so diverse in race and sexual orientation, and because this is likely to only grow in the future, it's important to expand these categories so as to accommodate for individuals who identify with many backgrounds. A step in the right direction includes a "check all that apply option," which accounts for this nuance in population demographics. Additionally, my concerns with the Census revolve around politicians using this information to their advantage, specifically in cases of gerrymandering or redlining, which specifically target low-income and minority groups.

4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.

As mentioned earlier, questions pertaining to sex asked "What sex were you assigned at birth, on your original birth certificate?" and "Do you currently describe yourself as male, female or transgender?" "None of these" was also an option. An alternative version of this question includes "Non-binary." For Sexual Orientation and Gender Identity, a question asks "Which of the following best represents how you think of yourself?" and included options such as "Gay or lesbian," "Straight, that is not gay or lesbian," "Bisexual," "Something else," or "I don't know."

I think it's good that there is an "I don't know" option, as there are a large group of people in the United States who are still questioning their sexuality. But I feel as though "Something else" feels a bit othering or alienating, almost degrading to those who don't identify with sexualities that are more well-known. Allowing for an "Other" option or including an option for those who are asexual, intersex, or simply queer with no intention of labeling themselves, is important in terms of inclusivity.

5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?

One of the more concerning parts of cleaning data, especially when dealing with missing values, is lumping together categories or simply reducing categories to the "main" or "dominant" options that seem most prevalent in society. This could alienate entire groups of people who don't consider themselves as part of the "main" defining characteristics of society, and minimize the true amount of diversity that exists in the United States. It's also possible that people are more likely to impute values, which in itself is harmful. People have different reasons for opting-out of answering certain questions, and to impute an answer for them means to diminish their autonomy and compromise their ability to make independent choices.

6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?

Any human-made algorithm can be subject to that individual's biases, which is the most pressing concern I would have. There's the potential for an overreliance on physical attributes, which could draw on demographic-specific stereotypes. Additionally, there could be issues related to misrepresentation, as the alogrithm could mistakenly assign certain identities to individuals, boxing them into cateogries that don't accurately align with their personal identities.